{% extends 'appp/base.html' %}
{% load static %}

{% block title %}Inspection Duct Products{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'appp/css/products.css' %}">
{% endblock %}

{% block content %}
<section class="products-page">
    <div class="container">
        <h1 class="main-heading text-center mb-5">
           Inspection Duct Products
        </h1>

        <div class="row justify-content-center">

            <!-- =====================
                 Product Card 1
            ====================== -->
            <div class="col-md-4 mb-4">
                <div class="product-card">
                    <div class="product-image">
                        <a href="{% url 'inspection_duct_crawler' %}">
                            <img
                                src="{% static 'appp/images/products/inspection_duct_crawler/home.png' %}"
                                alt="DC Compressor"
                                class="img-fluid"
                            >
                        </a>
                    </div>
                    <div class="product-content text-center">
                        <h3>
                            <a href="{% url 'inspection_duct_crawler' %}">
                                Inspection Duct Crawler
                            </a>
                        </h3>
                    </div>
                </div>
            </div>

            <!-- =====================
                 Product Card 2
            ====================== -->
            <div class="col-md-4 mb-4">
                <div class="product-card">
                    <div class="product-image">
                        <a href="{% url 'underwater_crawler' %}">
                            <img
                                src="{% static 'appp/images/products/inspection_duct_crawler/underwater3.jpg' %}"
                                alt="Industrial Cooling Distribution"
                                class="img-fluid"
                            >
                        </a>
                    </div>
                    <div class="product-content text-center">
                        <h3>
                            <a href="{% url 'underwater_crawler' %}">
                                Underwater Crawler
                            </a>
                        </h3>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
{% endblock %}
